@model MultiSeguroViagem.Site.Models.Site.FormularioAfiliadoModel
@{
    ViewBag.Title = "Torne-se um afiliado | Multi Seguro Viagem";
    ViewBag.MetaDescription = "Torne-se um afiliado com comissões de 10%. O programa de marketing premium que mais cresce no Brasil.";
    ViewBag.MetaKeywords = "afiliados, programa de afiliados, plataforma de afiliados, afiliado, receba sua comissão";
    ViewBag.OGURL = "https://multiseguroviagem.com.br/sobre/afiliados";
    ViewBag.OGTitle = "Multi Seguro Viagem | Torne-se um afiliado";
    ViewBag.OGSitename = "Multi Seguro Viagem";
    ViewBag.OGImage = "https://multiseguroviagem.com.br/www/img/multiseguroviagem-afiliado.jpg";
}


<div class="afiliace-wrapper">
    <div class="page-header header-small afiliace" data-parallax="true">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 text-center">
                    <h1 class="title">Torne-se um afiliado</h1>
                    <h2 class="title sub-titulo">Comissões de 10%. Só na Multi.</h2>
                    <h5 class="premium">PREMIUM PLATFORM</h5>
                </div>
            </div>

        </div>
    </div>

    <div class="main main-raised como-cotar">
        <div class="container">
            <div class="row programa margin-blog">
                <div class="col-md-6">
                    <h3>O programa</h3>
                    <p>Já pensou em aumentar sua receita? Divulgue os produtos e ofertas exclusivas da Multi Seguro Viagem, no espaço do seu canal, e ganhe comissão por cada venda realizada. A plataforma premium do mercado você já tem: Afiliace. Agora, é só começar a lucrar.</p>
                    <p>Descubra o Programa de Afiliados. Quando a Multi ganha, você também ganha!</p>
                </div>
                <div class="col-md-6">
                    <h3>Como funciona?</h3>
                    <p>Veja como é simples: Todos os banners e demais materiais de divulgação das campanhas são fornecidos pela plataforma da Afiliace. Você só tem o trabalho de implementar e divulgar esses materiais. Além de ser uma plataforma segura, a Afiliace possui uma equipe especializada para auxiliar você em todos os processos.</p>
                    <p>Aumentar suas vendas ficou mais fácil com a Afiliace! </p>
                </div>
                <div class="col-md-12 text-center">
                    <img alt="Afiliace - Premium Marketing" title="Afiliace - Premium Marketing" class="afiliace-logo" src="/www/img/afiliace.jpg" />
                </div>
            </div>

            <div class="col-md-4 como-comprar">
                <div class="card">
                    <div class="card-content content-primary">
                        <h3>
                            <a class="bluesoft">Atraia visitas em seu site</a>
                        </h3>
                        <p class="card-description">
                            Visitantes interessados no conteúdo que você publica, também são atraídos para as campanhas que você divulga.
                        </p>

                    </div>
                </div>
            </div>
            <div class="col-md-4 como-comprar">
                <div class="card">
                    <div class="card-content content-primary">
                        <h3>
                            <a class="bluesoft">Quanto mais visitas, mais chances de lucrar!</a>
                        </h3>
                        <p class="card-description">
                            Sua audiência é grande? Quanto mais visitantes clicarem nos banners do seu site, maiores serão as chances de compra.
                        </p>

                    </div>
                </div>
            </div>
            <div class="col-md-4 como-comprar">
                <div class="card">
                    <div class="card-content content-primary">
                        <h3>
                            <a class="bluesoft">Receba sua comissão</a>
                        </h3>
                        <p class="card-description">
                            A compra foi finalizada? A cada venda realizada, uma parcela da comissão é sua. Simples assim!
                        </p>

                    </div>
                </div>
            </div>


            <div class="row info-afiliados">
                <div class="col-md-12 text-center">
                    <h3 class="title titulo-corpo">Vantagens de ser um afiliado</h3>
                </div>
                <div class="col-md-12 text-center">
                    <div class="col-md-3">
                        <div class="info">
                            <div class="icon">
                                <i class="material-icons gradienteicones">flight_takeoff</i>
                            </div>
                            <h4>Promova uma das maiores cotadoras de Seguro Viagem do mercado!</h4>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="info">
                            <div class="icon">
                                <i class="material-icons gradienteicones">money_off</i>
                            </div>
                            <h4>Sem custo de adesão</h4>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="info">
                            <div class="icon">
                                <i class="material-icons gradienteicones">trending_up</i>
                            </div>
                            <h4>Campanhas CPL e CPA</h4>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="info">
                            <div class="icon">
                                <i class="material-icons gradienteicones">account_balance_wallet</i>
                            </div>
                            <h4>Comissões em até 30 dias</h4>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div id="divForm" class="bg-contato">
            <div class="contact-content">
                <div class="container">
                    <h2 class="title">Precisa de ajuda?</h2>
                    <div class="row">
                        <div class="col-md-6">
                            <p class="description">
                                Deixe seu contato e sua mensagem. Retornaremos em breve! Estamos disponíveis de segunda a sexta, das 9h às 18h.<br><br>
                            </p>
                            @using (@Html.BeginForm("EnviarFormularioAfiliado", "Sobre", FormMethod.Post, new { ID = "frmAfiliado" }))
                            {
                                <div class="error">
                                    <label class="control-label margin-top-zero margin-0">
                                        @Html.ValidationMessageFor(af => af.Nome, null, new { Class = "control-label" })
                                    </label>
                                </div>
                                <div class="form-group label-floating">
                                    <label class="control-label">Nome</label>
                                    @Html.TextBoxFor(af => af.Nome, new { Class = "form-control", MaxLength = "150" })
                                </div>
                                <div class="error">
                                    <label class="control-label margin-top-zero margin-0">
                                        @Html.ValidationMessageFor(af => af.Email, null, new { Class = "control-label" })
                                    </label>
                                </div>
                                <div class="form-group label-floating">
                                    <label class="control-label">Email</label>
                                    @Html.TextBoxFor(af => af.Email, new { Class = "form-control", MaxLength = "150" })
                                </div>
                                <div class="error">
                                    <label class="control-label margin-top-zero margin-0">
                                        @Html.ValidationMessageFor(af => af.Telefone, null, new { Class = "control-label" })
                                    </label>
                                </div>
                                <div class="form-group label-floating">
                                    <label class="control-label">Telefone</label>
                                    @Html.TextBoxFor(af => af.Telefone, new { Class = "form-control", MaxLength = "15" })
                                </div>
                                <div class="error">
                                    <label class="control-label margin-top-zero margin-0">
                                        @Html.ValidationMessageFor(af => af.Mensagem, null, new { Class = "control-label" })
                                    </label>
                                </div>
                                <div class="form-group label-floating">
                                    <label class="control-label">Sua Mensagem</label>
                                    @Html.TextAreaFor(af => af.Mensagem, new { Class = "form-control", MaxLength = "1000", Rows = "6" })
                                </div>
                                <div class="submit text-center">
                                    <input type="submit" class="btn btn-info btn-raised btn-round" value="Enviar" />
                                </div>
                            }
                        </div>
                        <div class="col-md-4 col-md-offset-2">
                            <div class="info info-horizontal">
                                <div class="icon icon-primary">
                                    <i class="material-icons">pin_drop</i>
                                </div>
                                <div class="description">
                                    <h4 class="info-title">Visite nosso escritório</h4>
                                    <p>
                                        Rua Cel. Alfredo Augusto do Nascimento, 183<br>
                                        Sousas, Campinas/SP<br>
                                        13106-000
                                    </p>
                                </div>
                            </div>
                            <div class="info info-horizontal">
                                <div class="icon icon-primary">
                                    <i class="material-icons">phone</i>
                                </div>
                                <div class="description">
                                    <h4 class="info-title">Contato</h4>
                                    <p>
                                        Lara Fernandes<br>
                                        Account Manager<br>
                                        <a href="tel:1141180405">(11) 4118 0405</a><br>
                                        <a href="mailto:lara.fernandes@afiliace.com.br">lara.fernandes@afiliace.com.br</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<link href="/www/css/vendor/sweetalert2.min.css" rel="stylesheet" />

@section Scripts
{
    <script src="/www/js/vendor/scrollreveal.min.js"></script>
    <script src="/www/js/vendor/custom-masks.js"></script>
    <script src="/www/js/vendor/sweetalert2.min.js"></script>

    <script>
        // Scroll Reveal
        //window.sr = ScrollReveal({ mobile: false });
        //sr.reveal('.card'), 100;

        //---------------------- Msg de validação
        $('.error:has(label.control-label span.control-label:not(:empty))').addClass("has-error");
        $('.error:has(label.control-label span.control-label:empty)').removeClass("has-error");
        //---------------------- Fim Msg de validação


        //---------------------- Máscaras

        $('#Telefone').keypress(function () {
            mascara(this, mtelefone);
        });

        $('#Telefone').blur(function () {
            mascara(this, mtelefone);
        });

        //---------------------- Fim Máscaras


        $(document).ready(function () {

            var valid = @Html.Raw(Json.Encode(ViewData.ModelState.IsValid));
            if (!valid)
                this.location = '#divForm';

            //verifica se deve disparar alerta
            var sucesso = `@(ViewBag.Sucesso)`;
            if (sucesso) {
                swal('Sucesso', sucesso, 'success');
            }
            var erro = `@(ViewBag.Erro)`;
            if (erro) {
                swal('Oops', erro, 'error');
            }

        });


    </script>
}