@{
    ViewBag.Title = "F.A.Q. - Perguntas frequentes | Multi Seguro Viagem";
    ViewBag.MetaDescription = "Perguntas frequentes sobre seguro viagem. Como funciona, formas de pagamento e muito mais";
    ViewBag.MetaKeywords = "seguro viagem, informações seguro viagem, o que é seguro viagem, seguro de viagem";
    ViewBag.OGURL = "https://multiseguroviagem.com.br/sobre/faq";
    ViewBag.OGTitle = "Multi Seguro Viagem | F.A.Q. - Perguntas frequentes";
    ViewBag.OGSitename = "Multi Seguro Viagem";
    ViewBag.OGImage = "https://multiseguroviagem.com.br/www/img/multiseguroviagem-faq.jpg";
}
<div class="everg faq wrapper" itemscope="" itemtype="https://schema.org/FAQPage">
    <div class="informacoes">
        <div class="page-header header-small gradiente">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1 text-center">
                        <h1 class="title" id="in-titulo-home">F.A.Q. - Perguntas frequentes</h1>
                        <h2 class="title sub-titulo" id="in-titulo-home">Perguntas frequentes de nossos clientes! Tire suas dúvidas conosco</h2>

                        <div class="col-md-6 col-md-offset-3">
                            <div class="card card-raised card-form-horizontal pesquisa">
                                <div class="card-content">
                                    <form id="live-search" action="" class="styled" method="post">

                                        <div class="row">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="material-icons">search</i>
                                                </span>
                                                <div class="form-group is-empty">

                                                    <input type="text" class="text-input form-control" id="filter" value="" placeholder="Pesquise sua dúvida...">
                                                    <span class="material-input">
                                                    </span>
                                                </div>
                                            </div>

                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>

        <div class="main main-raised">
            <div class="container">
                <br />
                <div class="card indice">
                    <div class="card-content">
                        <h2>Índice</h2>
                        <div class="col-md-6">
                            <p><a href="#1"><i class="material-icons">keyboard_arrow_right</i> Quais as responsabilidades da Multi Seguro Viagem e das Operadoras?</a></p>
                            <p><a href="#2"><i class="material-icons">keyboard_arrow_right</i> Quais são os benefícios de comprar com a Multi Seguro Viagem?</a></p>
                            <p><a href="#4"><i class="material-icons">keyboard_arrow_right</i> Por que eu preciso de um Seguro Viagem?</a></p>
                            <p><a href="#5"><i class="material-icons">keyboard_arrow_right</i> Qual o valor do Seguro Viagem em relação ao total investido em uma viagem?</a></p>
                            <p><a href="#6"><i class="material-icons">keyboard_arrow_right</i> Qual o melhor plano de seguro viagem para a minha viagem?</a></p>
                            <p><a href="#7"><i class="material-icons">keyboard_arrow_right</i> Como solicitar assistência fora do país?</a></p>
                            <p><a href="#8"><i class="material-icons">keyboard_arrow_right</i> Como funciona a utilização do Seguro Viagem?</a></p>
                            <p><a href="#9"><i class="material-icons">keyboard_arrow_right</i> Quais são as formas de pagamento aceitas?</a></p>
                            <p><a href="#10"><i class="material-icons">keyboard_arrow_right</i> Como posso alterar meu plano de seguro viagem?</a></p>
                            <p><a href="#11"><i class="material-icons">keyboard_arrow_right</i> Como posso cancelar meu Plano de Seguro Viagem?</a></p>
                            <p><a href="#12"><i class="material-icons">keyboard_arrow_right</i> Até quantos dias antes da viagem é possível contratar o seguro viagem?</a></p>
                            <p><a href="#13"><i class="material-icons">keyboard_arrow_right</i> Existe Seguro Viagem para viagens acima de 1 ano?</a></p>
                            <p><a href="#14"><i class="material-icons">keyboard_arrow_right</i> Como é o procedimento para renovar meu seguro se eu já estiver no exterior e precisar prolongar a viagem?</a></p>
                            <p><a href="#15"><i class="material-icons">keyboard_arrow_right</i> Como posso contratar um seguro viagem se eu já estiver no exterior?</a></p>
                            <p><a href="#16"><i class="material-icons">keyboard_arrow_right</i> Existe Seguro Viagem para viagens nacionais? Quando devo contratar?</a></p>
                            <p><a href="#17"><i class="material-icons">keyboard_arrow_right</i> Qual documento deve constar nos Vouchers?</a></p>
                            <p><a href="#18"><i class="material-icons">keyboard_arrow_right</i> Como devo selecionar as datas de ida e de volta?</a></p>
                            <p><a href="#19"><i class="material-icons">keyboard_arrow_right</i> Qual o procedimento quando o passageiro for menor de idade e não possuir CPF?</a></p><br />
                        </div>
                        <div class="col-md-6">

                            <p><a href="#20"><i class="material-icons">keyboard_arrow_right</i> O que fazer em caso de extravio de bagagem?</a></p>
                            <p><a href="#21"><i class="material-icons">keyboard_arrow_right</i> Como funciona o seguro viagem para a prática de esportes? E se eu me machucar?</a></p>
                            <p><a href="#22"><i class="material-icons">keyboard_arrow_right</i> Como funciona o seguro viagem para gestante?</a></p>
                            <p><a href="#23"><i class="material-icons">keyboard_arrow_right</i> Como funciona o seguro viagem para a terceira idade? Posso contratar?</a></p>
                            <p><a href="#24"><i class="material-icons">keyboard_arrow_right</i> Quais países exigem a contratação do Seguro Viagem?</a></p>
                            <p><a href="#25"><i class="material-icons">keyboard_arrow_right</i> O que é Tratado de Schengen? Quais são suas exigências?</a></p>
                            <p><a href="#26"><i class="material-icons">keyboard_arrow_right</i> Quais países fazem parte do Tratado de Schengen?</a></p>
                            <p><a href="#27"><i class="material-icons">keyboard_arrow_right</i> Para que serve o Visto Schengen?</a></p>
                            <p><a href="#28"><i class="material-icons">keyboard_arrow_right</i> Quais documentos são exigidos para o Visto Schengen?</a></p>
                            <p><a href="#29"><i class="material-icons">keyboard_arrow_right</i> Quais modelos de coberturas os viajantes mais procuram no Seguro Viagem?</a></p>
                            <p><a href="#30"><i class="material-icons">keyboard_arrow_right</i> Como funciona Seguro Viagem para Cruzeiro/Seguro Marítimo?</a></p>
                            <p><a href="#31"><i class="material-icons">keyboard_arrow_right</i> Vou viajar para continentes diferentes. Como funciona o seguro neste caso?</a></p>
                            <p><a href="#32"><i class="material-icons">keyboard_arrow_right</i> Qual a diferença entre Seguro Viagem e Assistência Viagem?</a></p>
                            <p><a href="#33"><i class="material-icons">keyboard_arrow_right</i> Qual a diferença entre o Plano de Seguro Viagem e Seguro Saúde?</a></p>
                            <p><a href="#34"><i class="material-icons">keyboard_arrow_right</i> Qual a diferença entre o Seguro Viagem emitido pelas Operadoras e os emitidos pelas empresas de Cartão de Credito?</a></p>
                        </div>
                    </div>
                </div>


                <div class="col-md-10 col-md-offset-1">
                    <div class="description">
                            <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="description">
                                <span>
                                    <h3 id="1" itemprop="name">
                                        Quais as responsabilidades da Multi Seguro Viagem e das Operadoras?
                                    </h3>
                                    <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                                        <p itemprop="text" >
                                            Nossa <b>plataforma de comparação e venda online de Seguro Viagem</b> tem como objetivo apresentar aos nossos clientes as melhores opções de planos, sendo a <b>Operadora de Seguro Viagem</b> contratada a única e exclusiva responsável por diversos procedimentos (incluindo reembolso de despesas), coberturas e limites do plano contratado, além de garantir atendimento ao viajante, antes, durante e após a viagem. Em caso emergência, a Operadora deve ser diretamente acionada pelo viajante.
                                        </p>
                                    </div>
                                        <p>
                                            Recomendamos ao viajante ler atentamente todas as regras descritas nas condições gerais disponibilizadas no site da operadora contratada, para evitar dúvidas e inconveniências futuras.
                                        </p>
                                        <p>
                                            A <b>Multi Seguro Viagem</b> está habilitada a esclarecer as dúvidas oriundas dos planos fornecidos pelas operadoras parceiras, bem como auxiliá-lo a identificar o plano que melhor atenderá suas necessidades.
                                        </p>
                                        <p>
                                            É importante destacar que a <b>Multi Seguro Viagem</b> não atua como Operadora. Ela trabalha com diversos parceiros, com o objetivo oferecer ao viajante a facilidade de encontrar o plano ideal para o seu perfil, através do serviço de comparação e <b>venda online de seguro viagem</b>, feito na plataforma digital da própria <b>Multi Seguro Viagem</b>.
                                        </p>
                                        <p>
                                            Além de intermediar diferentes planos de diversas operadoras, e facilitar a comparação dos planos ao viajante, a responsabilidade da <b>Multi Seguro Viagem</b> é prestar atendimento de excelência, ter clareza e precisão nas informações prestadas aos clientes, intermediar e acompanhar o atendimento entre viajante e operadora, em caso de possíveis dificuldades de contato. Nossos especialistas estão sempre à disposição, dentro do horário comercial, para fazer esta “ponte” sempre que necessário. Precisou falar conosco? Após o contato inicial com a operadora, basta enviar um e-mail para <a href="mailto:contato@multiseguroviagem.com.br">contato@multiseguroviagem.com.br</a> ou em nossa <a href="@Url.Action("Contato", "Sobre")">página de contato</a>.
                                        </p>
                                </span>
                            </div>
                            <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="description">
                                <span>
                                    <h3 id="2" itemprop="name">
                                        Quais são os benefícios de comprar com a Multi Seguro Viagem?
                                    </h3>
                                    <ul>
                                        <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                                            <li itemprop="text">
                                                <b>Líderes do mercado:</b> Aqui você encontra as melhores operadoras, nacionais e internacionais. São planos de qualidade, com preço justo e pagamento facilitado.
                                            </li>
                                        </div>
                                            <li>
                                                <b>Compare e compre seu seguro online:</b> As opções de seguro viagem são muitas! Para facilitar sua vida, compare os planos e compre a cobertura ideal para seu perfil, 100% online.
                                            </li>
                                            <li>
                                                <b>Mais facilidade e segurança:</b> Viaje tranquilo com quem mais entende de Seguro Viagem. Aqui você tem uma plataforma ágil, para resolver tudo em um só lugar, com toda a segurança.
                                            </li>
                                            <li>
                                                <b>Atendimento diferenciado:</b> Nós acompanhamos seu atendimento junto às operadoras para agilizar suas solicitações.
                                            </li>
                                    </ul>
                                </span>
                            </div>
                            <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="description">
                                <span>
                                    <h3 id="3" itemprop="name">
                                        Recomendações Essenciais – Aviso ao Viajante:
                                    </h3>
                                    <ul>
                                        <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                                            <li itemprop="text">
                                                Confirme o recebimento de seu voucher. Lembre-se de imprimir e levá-lo junto com seus documentos de viagem.
                                            </li>
                                        </div>
                                            <li>
                                                Verifique atentamente todas as condições descritas no voucher, inclusive as condições gerais do(s) plano(s) contratado(s) que seguem também disponibilizadas no site da Operadora.
                                            </li>
                                            <li>
                                                Antes de realizar qualquer atendimento ou utilizar qualquer cobertura, é obrigatório entrar em contato com a operadora contratada.
                                            </li>
                                            <li>
                                                Verifique no <b>voucher do seguro viagem</b> onde estão os contatos de telefone, e-mails e demais formas de atendimento da operadora, em caso de emergência.
                                            </li>
                                            <li>
                                                Após receber atendimento na clínica ou hospital da rede credenciada (autorizada pela operadora), não informe seu próprio endereço, para que não haja envio de cobranças futuras. Verifique no voucher qual endereço deve ser fornecido, ou informe-se junto à operadora.
                                            </li>
                                            <li>
                                                Toda <b>apólice de seguro viagem</b> tem o endereço de sua operadora. Para evitar futuras cobranças em sua residência, coloque o endereço no cadastro feito no hospital.
                                            </li>
                                            <li>
                                                Os planos de seguro e/ou assistência de viagem podem ser comercializados em canais habilitados para a venda, como é o caso da <b>Multi Seguro Viagem. </b>
                                            </li>
                                    </ul>
                                </span>
                            </div>
                            <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="description">
                                <span>
                                    <h3 id="4" itemprop="name">
                                        Por que eu preciso de um Seguro Viagem?
                                    </h3>
                                    <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                                        <p itemprop="text">
                                            A principal vantagem de adquirir um <b>seguro viagem</b> é você minimizar qualquer situação que fuja do controle ou imprevisto que você possa ter durante a sua viagem. Sabia que um atendimento médico no exterior pode custar milhares de dólares? Além disso, é preciso se precaver em caso de <b>extravio de bagagens</b>, <b>perda de documentos</b> ou nos <b>atrasos e cancelamentos dos voos</b>. Se precisar de atendimento médico, por exemplo, com a <b>assistência do seguro viagem</b> você não gastará nada além das despesas já previstas em sua viagem.
                                        </p>
                                    </div>
                                        <p>
                                            Qualquer plano que você escolher, dentre as operadoras parcerias do nosso site, o atendimento será totalmente em português, de qualquer lugar do mundo. Os seguros mais completos oferecem ainda viagens marítimas, atendimentos clínicos e odontológicos, assistência jurídica, medicamentos, repatriação, extensão de internação hospitalar, diárias em hotéis. Em casos específicos, também garantem passagem aérea para familiares. Viaje mais tranquilo sabendo que estamos aqui se precisar de ajuda. Entenda e conheça os planos, compare e escolha a opção ideal para a sua viagem!
                                        </p>
                                </span>
                            </div>
                            <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="description">
                                <span>
                                    <h3 id="5" itemprop="name">
                                        Qual o valor do Seguro Viagem em relação ao total investido em uma viagem?
                                    </h3>
                                    <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                                        <p itemprop="text">
                                            Quando paramos para precificar nossas viagens, e colocamos na ponta do lápis todos os gastos envolvidos (hotéis, passagens aéreas, aluguel de carro, chip de celular, ingressos, gastos no cartão, IOF, etc.) percebemos que o valor do <b>Seguro Viagem</b> é irrisório perto do custo total de uma viagem. De acordo com pesquisas internas, esse investimento não passa de 3% do custo total da viagem, podendo variar de 1% a 2%, dependendo dos valores de coberturas e do gasto total da viagem. De qualquer forma, levando em consideração as <b>coberturas de proteção para riscos de morte, acidente, invalidez, despesas médicas, hospitalares, odontológicas, diárias, perda ou roubo de bagagem, extravio de bagagem entre outros contratempos que possam surgir</b>, percebemos que o seguro viagem se torna imprescindível, e sem dúvida o item mais barato do roteiro.
                                        </p>
                                    </div>
                                </span>
                            </div>
                            <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="description">
                                <span>
                                    <h3 id="6" itemprop="name">
                                        Qual o melhor plano de seguro viagem para a minha viagem?
                                    </h3>
                                    <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                                        <p itemprop="text">
                                            Antes de escolher o plano ideal, é necessário entender quais são suas necessidades e qual é o motivo/tipo de sua viagem:  trabalho, lazer, viagem com a família, intercâmbio, viagem com esportes radicais ou ainda se participará de alguma competição esportiva, por exemplo.
                                        </p>
                                    </div>
                                        <p>
                                            Para te ajudar, aqui vão algumas perguntas:
                                        </p>
                                        <ul>
                                            <li>
                                                Qual valor de cobertura de Assistência Médica você procura? Quanto maior a cobertura, mais seguro você estará!
                                            </li>
                                            <li>
                                                Possui alguma doença Pré-Existente?
                                            </li>
                                            <li>
                                                Vai praticar esportes dentro do período de viagem?
                                            </li>
                                            <li>
                                                Tem alguma cobertura que você considera importante, além da assistência médica?
                                            </li>
                                        </ul>
                                        <p>
                                            Objetivo definido, basta comparar todas as coberturas e preços, para encontrar qual modelo mais se adequa ao perfil de sua viagem. Lembre-se: todas as seguradoras possuem atendimento padronizado. Nossa plataforma oferece atendimento de consultores especializados em <b>Seguro Viagem</b>. Em caso de dúvida, <a href="@Url.Action("Contato", "Sobre")">fale com nossa equipe!</a>.
                                        </p>
                                </span>
                            </div>
                            <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="description">
                                <span>
                                    <h3 id="7" itemprop="name">
                                        Como solicitar assistência fora do país?
                                    </h3>
                                    <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                                        <p itemprop="text">
                                            Caso ocorra alguma emergência e você precise acionar o seu <b>Seguro Viagem</b>, é necessário entrar em contato com a operadora escolhida, que está identificada em sua própria apólice. Lá, você encontrará telefones do país de destino, telefones do Brasil, e-mail, skype e, em alguns casos, até atendimento via WhatsApp e aplicativo. A ligação pode ser feita a cobrar (Collect Call) de qualquer telefone fixo no exterior.
                                        </p>
                                    </div>
                                        <p>
                                            Basta explicar para a atendente o que está acontecendo, qual cobertura você quer acionar e sua localização. Com essas informações, a central passará todo o procedimento que você deve seguir.
                                        </p>
                                        <p>
                                            A Central funciona 24h, com atendimento em inglês e português. Basta mencionar o idioma de sua preferência.
                                        </p>
                                        <p>
                                            Em caso de necessidade, nossos consultores estarão à disposição dentro do horário comercial. Após contato inicial com a operadora, basta enviar um e-mail para: contato@multiseguroviagem.com.br. O diferencial da <b>Multi Seguro Viagem</b> é realizar o acompanhamento do seu atendimento, do início ao fim.
                                        </p>
                                </span>
                            </div>
                            <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="description">
                                <span>
                                    <h3 id="8"  itemprop="name">
                                        Como funciona a utilização do Seguro Viagem?
                                    </h3>
                                    <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                                        <p itemprop="text">
                                            Todas as operadoras parcerias da <b>Multi Seguro Viagem</b> trabalham com atendimento por meio de redes credenciadas. Ao entrar em contato com a <b>central de atendimento 24hs</b>, você será encaminhado para a <b>rede credenciada</b> mais próxima ou encaminhará um médico até você. Fazendo esse procedimento, você não terá custos adicionais em seu atendimento.
                                        </p>
                                    </div>
                                        <p>
                                            Caso queira, você também pode ir para um hospital ou centro médico de sua escolha, pagar pelo atendimento e solicitar o reembolso para a operadora que responsável pelo atendimento.
                                        </p>
                                        <p>
                                            “E se for um caso emergencial e eu não conseguir entrar em contato?” Fique tranquilo! Você será encaminhado para um hospital mais próximo e será atendido normalmente, porém, em algum momento é necessário entrar em contato com a operadora e explicar que ocorreu um caso extraordinário e que você está ou já foi atendido no hospital (nome do hospital).
                                        </p>
                                        <p>
                                            Se você precisar pagar por algum serviço, guarde todos os laudos médicos e recibos para que possa solicitar o reembolso do valor.
                                        </p>
                                </span>
                            </div>
                            <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="description">
                                <span>
                                    <h3 id="9" itemprop="name">
                                        Quais são as formas de pagamento aceitas?
                                    </h3>
                                    <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                                        <p itemprop="text">
                                            O pagamento referente ao plano escolhido poderá ser realizado através do boleto bancário ou utilizando cartão de crédito das bandeiras MasterCard, Visa, Dinners e Hipercard.
                                        </p>
                                    </div>
                                </span>
                            </div>
                            <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="description">
                                <span>
                                    <h3 id="10" itemprop="name">
                                        Como posso alterar meu plano de seguro viagem?
                                    </h3>
                                    <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                                        <p itemprop="text">
                                            Para fazer qualquer tipo de alteração em sua apólice é necessário entrar em contato conosco através da nossa <a href="@Url.Action("Contato", "Sobre")">página de contato</a>, até 48h antes do Início da vigência de sua apólice, para que seja possível alterar e reencaminhar a nova apólice. Lembrando que, após o início de vigência de sua viagem, não será possível fazer qualquer tipo de alteração. Estamos disponíveis de segunda a sexta, das 9hrs às 18hrs.
                                        </p>
                                    </div>
                                </span>
                            </div>
                            <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="description">
                                <span>
                                    <h3 id="11" itemprop="name">
                                        Como posso cancelar meu Plano de Seguro Viagem?
                                    </h3>
                                    <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                                        <p itemprop="text">
                                            Independente do motivo, seja por cancelamento da viagem ou desistência de obter um plano, você poderá cancelar seu plano de Seguro Viagem entrando em contato conosco em até 48hs úteis. Se o pagamento foi feito em cartão de crédito, o valor será estornado em seu próprio cartão, em até 48hs úteis. Caso o pagamento tenha sido feito via boleto bancário, para que possamos realizar o estorno em sua conta é necessário que você passe todos os seus dados bancários: nome completo e CPF.
                                        </p>
                                    </div>
                                        <p>
                                            Você poderá fazer esta solicitação através da nossa central de atendimento <a href="tel:19-3204-0447">(19) 3204-0447</a> e/ou enviar uma solicitação com o motivo do cancelamento, nº do voucher e operadora para o e-mail <a href="mailto:contato@multiseguroviagem.com.br">contato@multiseguroviagem.com.br</a>
                                        </p>
                                        <p>
                                            Lembrando que, após o início de vigência de sua viagem, não será possível fazer qualquer tipo de cancelamento. Estamos disponíveis de segunda a sexta, das 9hrs às 18hrs.
                                        </p>
                                </span>
                            </div>
                            <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="description">
                                <span>
                                    <h3 id="12" itemprop="name">
                                        Até quantos dias antes da viagem é possível contratar o seguro viagem?
                                    </h3>
                                    <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                                        <p itemprop="text">
                                            O <b>seguro viagem</b> pode ser contratado até o dia de sua viagem. A única exigência é que o viajante ainda esteja em território nacional. Caso ocorra alguma urgência e o cliente precise utilizar o plano, a operadora faz a verificação através da passagem aérea que consta data e hora de embarque. De qualquer forma, recomendamos que não deixe para a última hora e adquira seu seguro no mesmo dia que comprar suas passagens aéreas. Em caso de dúvidas, <a href="@Url.Action("Contato", "Sobre")">entre em contato conosco</a>
                                        </p>
                                    </div>
                                </span>
                            </div>
                            <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="description">
                                <span>
                                    <h3 id="13" itemprop="name">
                                        Existe Seguro Viagem para viagens acima de 1 ano?
                                    </h3>
                                    <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                                        <p itemprop="text">
                                            O <b>seguro viagem</b> poderá ser contratado com mínimo de 3 dias e máximo de 365 dias. A maioria das operadoras emitem apólices com até 1 ano. Porém, é possível renovar o seguro mesmo se o viajante estiver em plena viagem no exterior. Caso sua viagem seja superior a esse período, você deverá entrar em contato conosco 5 dias antes do termino da vigência da sua apólice, para solicitarmos a prorrogação da mesma.
                                        </p>
                                    </div>
                                </span>
                            </div>
                            <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="description">
                                <span>
                                    <h3 id="14" itemprop="name">
                                        Como é o procedimento para renovar meu seguro se eu já estiver no exterior e precisar prolongar a viagem?
                                    </h3>
                                    <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                                        <p itemprop="text">
                                            É possível a <b>renovação do seguro viagem</b> mesmo se o viajante estiver em plena viagem no exterior. Para renovação, basta o viajante entrar em contato conosco 5 dias antes do termino da vigência da sua apólice para solicitarmos a prorrogação e autorização da mesma junto a operadora.
                                        </p>
                                    </div>
                                </span>
                            </div>
                            <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="description">
                                <span>
                                    <h3 id="15" itemprop="name">
                                        Como posso contratar um seguro viagem se eu já estiver no exterior?
                                    </h3>
                                    <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                                        <p itemprop="text">
                                            Caso você esteja no exterior ou embarque sem <b>contratar o seguro de viagem</b>, é possível fazer a contratação do seguro durante o seu período de viagem. Hoje, a maioria das operadoras não vendem para clientes já em viagem, mas algumas operadoras trabalham com a venda mediante a autorização e preenchimento de uma declaração de saúde. Basta você entrar em contato com a <b>Multi Seguro Viagem</b>, através do e-mail <a href="mailto:contato@multiseguroviagem.com.br">contato@multiseguroviagem.com.br</a> nos informando: nome completo, CPF e data de nascimento dos viajantes, bem como o país em que os mesmos se encontram e data de volta da viagem. Nossos consultores irão apresentar as opções de seguro e o procedimento que deverá ser feito para solicitar a autorização da compra do seguro.
                                        </p>
                                    </div>
                                        <p>
                                            Após encaminhado, a operadora pode demorar até 72hs para responder, aprovando ou não a contratação. Aprovado, emitiremos e encaminharemos a apólice ao viajante. Nos casos de contratação já em período de viagem, existe uma carência para utilização do plano que pode variar de 3 a 5 dias úteis.
                                        </p>
                                </span>
                            </div>
                            <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="description">
                                <span>
                                    <h3 id="16" itemprop="name">
                                        Existe Seguro Viagem para viagens nacionais? Quando devo contratar?
                                    </h3>
                                    <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                                        <p itemprop="text">
                                            Existe sim e você deve contratar sempre! O <b>Seguro de Viagem Nacional</b> é um produto super em conta para deixar sua viagem mais segura, especialmente pra quem não possui plano de saúde nacional.
                                        </p>
                                    </div>
                                        <p>
                                            O <b>Seguro de Viagem Nacional</b> possui diversas coberturas para ajudar o viajante dentro de seu período de viagem. A principal cobertura é assistência médica. No entanto, o viajante também tem <b>cobertura farmacêutica, odontológica, seguro por morte e invalidez acidental</b>, dentre outras. Este seguro cobre qualquer tipo de viagem no Brasil, desde que o passageiro esteja a uma distância de pelo menos 100 km (quilômetros) de sua residência.
                                        </p>
                                        <p>
                                            Caso você precise utilizar qualquer um dos serviços oferecidos pelo plano, basta entrar em contato com a central de atendimento, que a operadora enviará o procedimento correto, encaminhando você para uma rede credenciada particular ou encaminham um médico até você.
                                        </p>
                                        <p>
                                            Selecione o destino “Brasil” em nosso contador para visualizar os planos disponíveis.
                                        </p>
                                </span>
                            </div>
                            <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="description">
                                <span>
                                    <h3 id="17" itemprop="name">
                                        Qual documento deve constar nos Vouchers?
                                    </h3>
                                    <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                                        <p itemprop="text">
                                            Cada operadora exige um tipo de documentação para a emissão das apólices, mas o documento principal é o CPF. Caso o viajante seja menor de idade, e não tenha CPF, basta apresentar o número do passaporte ou inserir o documento do responsável legal.
                                        </p>
                                    </div>
                                </span>
                            </div>
                            <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="description">
                                <span>
                                    <h3 id="18" itemprop="name">
                                        Como devo selecionar as datas de ida e de volta?
                                    </h3>
                                    <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                                        <p itemprop="text">
                                            Este item da sua cotação é de extrema importância para que você não fique nenhum dia sem seguro. Na data de ida, selecione o dia exato em que você sairá do Brasil. Atenção: jamais coloque a data de chegada ao seu destino. Na data da volta, selecione a data exata em que chegará ao Brasil, pois isso garante 100% de cobertura durante toda a viagem, principalmente a cobertura para extravio da bagagem.
                                        </p>
                                    </div>
                                </span>
                            </div>
                            <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="description">
                                <span>
                                    <h3 id="19" itemprop="name">
                                        Qual o procedimento quando o passageiro for menor de idade e não possuir CPF?
                                    </h3>
                                    <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                                        <p itemprop="text">
                                            Caso o viajante seja menor de idade e não tenha CPF, o viajante pode utilizar o número do passaporte com data de validade ou o CPF do responsável legal. Porém, nesses casos é necessário ver quais os documentos exigidos pela operadora.
                                        </p>
                                    </div>
                                </span>
                            </div>
                            <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="description">
                                <span>
                                    <h3 id="20" itemprop="name">
                                        O que fazer em caso de extravio de bagagem?
                                    </h3>
                                    <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                                        <p itemprop="text">
                                            Primeiramente, é necessário que o viajante informe a companhia aérea e solicite o documento de comprovação de extravio de bagagem, chamado PIR (Property Irregularity Report). Com o número do PIR em mãos, basta entrar em contato com a sua <b>operadora de seguro viagem</b>, que irá informar o próximo passo.
                                        </p>
                                    </div>
                                        <p>
                                            Caso sua bagagem seja extraviada, a cobertura de extravio de bagagem não cobre furtos ou danos. Além de ser pago, o valor por quilo pode variar de operadora para operadora, e essas informações são internas. Normalmente é pago U$ 30 a U$ 45 por quilo, até o limite da cobertura contratada.
                                        </p>
                                        <p>
                                            Não deixe de comunicar nossa central para que possamos acompanhar o atendimento.
                                        </p>
                                </span>
                            </div>
                            <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="description">
                                <span>
                                    <h3 id="21" itemprop="name">
                                        Como funciona o seguro viagem para a prática de esportes? E se eu me machucar?
                                    </h3>
                                    <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                                        <p itemprop="text">
                                            Não se preocupe. O <b>seguro viagem</b> também oferece cobertura nesse quesito.
                                        </p>
                                    </div>
                                        <p>
                                            A maioria dos <b>planos de seguro viagem</b> já possui uma cobertura mínima e específica para Prática de Esportes ou o plano cobre acidentes derivados do esportes, dentro da cobertura de Assistência Médica. A única exigência é que, para acionar essa cobertura, o viajante tem de estar Praticando Esportes em caráter amador. Esportes decorrentes a competição ou profissional estão excluídos desta cobertura.
                                        </p>
                                        <p>
                                            Indicamos a contratação do <b>Seguro Viagem</b> especifico para esportes com um de nossos consultores, pois os mesmos oferecem cobertura superior para diversas situações que podem ocorrer durante a prática de esportes em sua viagem.
                                        </p>
                                        <p>
                                            Para identificar quais esportes são cobertos, confira sempre as Condições Gerais do plano ao seu consultor. Lá você encontrará essas e outras informações sobre os tipos de cobertura.
                                        </p>
                                </span>
                            </div>
                            <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="description">
                                <span>
                                    <h3 id="22"  itemprop="name">
                                        Como funciona o seguro viagem para gestante?
                                    </h3>
                                    <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                                        <p itemprop="text">
                                            O <b>seguro viagem gestante</b> é indispensável para mulheres em qualquer período de gravidez. A contratação deste serviço garante atendimento para exames e ultrassonografias de emergência, cobertura para abortos espontâneos ou acidentais, partos de emergência e também na ocorrência de partos prematuros.
                                        </p>
                                    </div>
                                        <p>
                                            Atualmente, a maioria dos planos possui uma cobertura específica para a gestação ou cobertura de Assistência Médica para eventuais complicações gestacionais. É importante ressaltar que o seguro não cobre o acompanhamento de sua gestação. Exames e atendimentos de rotina não estão cobertos. O seguro cobre apenas atendimento emergencial.
                                        </p>
                                        <p>
                                            É importante ressaltar que cada operadora possui uma regra própria. No entanto, toda gestante precisa ter uma declaração de seu médico informando que se encontra em ótima condição de saúde e que está apta a viajar. Outro ponto é a idade permitida para a gestante. Alguns planos cobrem gestantes com no máximo 40 anos. A dica é sempre identificar até qual semana vocâ estará completamente coberta pelo plano. E lembre-se: quanto maior a sua cobertura, mais segura você e seu bebê estarão.
                                        </p>
                                </span>
                            </div>
                            <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="description">
                                <span>
                                    <h3 id="23"  itemprop="name">
                                        Como funciona o seguro viagem para a terceira idade? Posso contratar?
                                    </h3>
                                    <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                                        <p itemprop="text">
                                            Funciona como qualquer outro <b>seguro viagem</b>, porém, como crianças e idosos apresentam maior probabilidade de risco, o uso poderá ser maior. A maioria dos planos possuem limitação de idade de até 100 anos. Para idosos de 70 a 75 anos (dependendo da operadora), o valor de seu plano terá um acréscimo de 25 a 50% no valor. Mas os viajantes da terceira idade não precisam se preocupar, pois receberão o mesmo suporte e as mesmas coberturas dos demais grupos de viajantes.
                                        </p>
                                    </div>
                                        <p>
                                            Dica: É importante ficar atento sobre a redução da cobertura para viajantes em idade avançada. Acima de 85 anos, por exemplo, a cobertura reduzirá 50% do valor. Na Multi Seguro Viagem, nenhum dos planos possuem redução de cobertura para viajantes da terceira idade.
                                        </p>
                                </span>
                            </div>
                            <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="description">
                                <span>
                                    <h3 id="24" itemprop="name">
                                        Quais países exigem a contratação do Seguro Viagem?
                                    </h3>
                                    <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                                        <p itemprop="text">
                                            A aquisição do seguro viagem é recomendável para qualquer destino. No entanto, alguns países exigem a contratação do seguro com um valor mínimo de cobertura. Confira aqui todos os detalhes dessas exigências. Ficou com dúvida? Não hesite em falar com a Multi Seguro Viagem.
                                        </p>
                                    </div>
                                </span>
                            </div>
                            <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="description">
                                <span>
                                    <h3 id="25" itemprop="name">
                                        O que é Tratado de Schengen? Quais são suas exigências?
                                    </h3>
                                    <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                                        <p itemprop="text">
                                            O <a href="@Url.Action("TratadodeSchengen", "Sobre")"> Tratado de Schengen</a>, existente há 30 anos, é um acordo entre alguns países europeus sobre a política de abertura de fronteiras para livre circulação de turistas e estudantes. Portanto, o <b>seguro viagem</b> é obrigatório para quem pretende visitar os países do tratado.
                                        </p>
                                    </div>
                                        <p>
                                            A exigência é que o viajante adquira um <b>seguro viagem</b> com cobertura mínima de 30 mil Euros para despesas médicas e hospitalares. Embarcar sem este seguro poderá colocar sua viagem em risco, com grandes chances de ser deportado para o país de origem. É importante saber quais países fazem parte do Tratado e quais são as exigências para o desembarque nestes países
                                        </p>
                                        <p>
                                            Nós, da <b>Multi Seguro Viagem</b>, recomendamos sempre fazer um seguro, não importa o destino.
                                        </p>
                                </span>
                            </div>
                            <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="description">
                                <span>
                                    <h3 id="26"  itemprop="name">
                                        Quais países fazem parte do Tratado de Schengen?
                                    </h3>
                                    <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                                        <p itemprop="text">
                                            Aproximadamente 27 países fazem parte do <b>Tratado de Schengen</b>: Alemanha, Áustria, Bélgica, Dinamarca, Eslováquia, Eslovênia, Espanha, Estônia, Finlândia, França, Grécia, Holanda, Hungria, Islândia, Itália, Letônia, Liechtenstein, Lituânia, Luxemburgo, Malta, Noruega, Polônia, Portugal, República Tcheca, Suécia e Suíça.
                                        </p>
                                    </div>
                                        <p>
                                            Para viajar tranquilo, com segurança e garantir sua livre circulação em todos esses países, adquira seu seguro com a <b>Multi Seguro Viagem</b>!
                                        </p>
                                </span>
                            </div>
                            <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="description">
                            <span>
                                <h3 id="27" itemprop="name">
                                    Para que serve o Visto Schengen?
                                </h3>
                                <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                                    <p itemprop="text">
                                        Se você planeja um intercâmbio ou viagem a trabalho para alguns dos países do Tratado de Schengen, saiba que o período superior aos 90 dias consecutivos exige a emissão de visto. A autorização é emitida pelo Consulado ou Embaixada do país onde você ficará instalado, seguindo o período solicitado na hora da emissão.
                                    </p>
                                </div>

                                    <h3 id="28">
                                        Quais documentos são exigidos para o Visto Schengen?
                                    </h3>
                                    <h4>Visto Schengen</h4>
                                    <p>
                                        Se você pretende realizar um intercâmbio ou viagem a trabalho para alguns dos países que fazem parte do Tratado de Schengen, saiba que o período superior a 90 dias consecutivos exige a emissão de visto. A autorização é emitida pelo Consulado ou Embaixada do país que você ficará instalado, durante o período solicitado no momento da emissão. Alguns documentos devem ser apresentados para a liberação. Entre os principais, estão:
                                    </p>
                                    <ul>
                                        <li>
                                            <b>Seguro viagem com cobertura de até 30 mil euros</b>
                                        </li>
                                        <li>
                                            <b> Passaporte Original</b>
                                        </li>
                                        <li>
                                            <b>Comprovante de passagem aérea</b>
                                        </li>
                                        <li>
                                            <b>Reservas de hospedagem ou carta-convite:</b> nos casos de estadia em casas de amigos/parentes.
                                        </li>
                                        <li>
                                            <b>Comprovante de situação financeira:</b> geralmente é solicitado o extrato bancário dos últimos seis meses. Para estudantes que não possuem renda é possível garantir a ajuda de terceiros durante o período de estadia, por meio de uma declaração oficial.
                                        </li>
                                        <li>
                                            <b>Formulário de aplicação de visto Schengen preenchido e com foto 3x4 recente</b>
                                        </li>
                                    </ul>
                                    <p>
                                        Alguns países, além do <b>Tratado de Schengen</b>, também exigem a obtenção do <b>seguro viagem</b>, porém sem coberturas mínimas:
                                    </p>
                                    <ul>
                                        <li>
                                            Países do Golfo – Emirados Árabes Unidos, Qatar e Turquia
                                        </li>
                                        <li>
                                            Cuba
                                        </li>
                                        <li>
                                            Venezuela - Exige <b>seguro viagem</b> e mantém um padrão parecido do Tratado de Schengen, porém com cobertura mínima de 40 mil dólares para assistência médica, repatriação e funerária.
                                        </li>
                                        <li>
                                            Reservas de hospedagem ou carta-convite: nos casos de estadia em casas de amigos/parentes.
                                        </li>
                                        <li>
                                            Austrália - Exige a cobertura de <b>assistência viagem para estudantes</b> e a contratação de um seguro próprio, chamado OSHC, para que o estudante tenha direito ao sistema público de saúde do país.
                                        </li>
                                    </ul>
                                </span>
                            </div>
                            <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="description">
                                <span>
                                    <h3 id="29" itemprop="name">
                                        Quais modelos de coberturas os viajantes mais procuram no Seguro Viagem?
                                    </h3>
                                    <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                                        <p itemprop="text">
                                            Pela nossa experiência de anos no mercado, identificamos que as coberturas mais procuradas pelos viajantes são:
                                        </p>
                                    </div>
                                        <ul>
                                            <li>
                                                <b>Assistência Médica:</b> cobertura concedida caso o viajante sofra algum acidente ou adquira alguma enfermidade em seu período de viagem. Nesta cobertura, você terá direito a um atendimento médico particular.
                                            </li>
                                            <li>
                                                <b>Extravio de Bagagem:</b> caso sua bagagem seja extraviada, a operadora irá indenizar o valor para a compra de alguns suprimentos básicos, até seu limite de cobertura, e de acordo com o peso de sua bagagem.
                                            </li>
                                            <li>
                                                <b>Doença Pré-Existente:</b> é uma cobertura para viajantes que já tomam algum tipo de medicamento controlado ou que tenham algum problema de saúde pré-existente.
                                            </li>
                                            <li>
                                                <b>Odontológica:</b> cobertura para qualquer problema dentário que impeça o viajante de prosseguir com sua viagem, Em caso de dor e incômodo, a operadora também prestará o atendimento odontológico.
                                            </li>
                                            <li>
                                                <b>Farmacêutica:</b> caso você passe por um atendimento médico e o mesmo receite algum medicamento, essa cobertura ajudará nos custos farmacêuticos.
                                            </li>
                                            <li>
                                                <b>Seguro por Morte Acidental:</b> em caso de falecimento do viajante, por acidente, o seguro pagará uma indenização aos herdeiros legais.
                                            </li>
                                            <li>
                                                <b>Prática de Esportes:</b> esta cobertura garante o direito a uma assistência médica, em casos de acidente por algum esporte de caráter amador
                                            </li>
                                            <li>
                                                <b>Gestação:</b> oferece assistência médica para gestantes, em caso de emergência referente a problemas da gestação. Não cobre acompanhamento médico, apenas atendimento emergencial.
                                            </li>
                                        </ul>
                                        <p>
                                            Identificou a cobertura de seu interesse? <a href="@Url.Action("Contato", "Sobre")">Fale com a Multi Seguro Viagem</a>.
                                        </p>
                                </span>
                            </div>
                            <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="description">
                                <span>
                                    <h3 id="30" itemprop="name">
                                        Como funciona Seguro Viagem para Cruzeiro/Seguro Marítimo?
                                    </h3>
                                    <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                                        <p itemprop="text">
                                            Não é necessário contratar um plano específico para viagens de cruzeiro ou viagens marítimas, pois nenhum plano de <b>Seguro Viagem</b> diferencia viagens terrestres e marítimas. A questão é que os navios não possuem parcerias com <b>operadoras de seguro viagem</b>, sendo assim, quando o cliente estiver em alto mar e precisar de um atendimento médico, será necessário que o mesmo utilize o atendimento do próprio navio, arcando com os devidos custos, se houver. Porém, basta o viajante guardar todos os laudos, recibos/notas fiscais para solicitar o reembolso do valor depois da viagem.
                                        </p>
                                    </div>
                                        <p>
                                            E, nos casos em que o viajante estiver em terra, ou seja, em uma parada do Navio para passeios terrestres, ele poderá entrar em contato com a central de atendimento 24hrs. Esta central irá passar todo procedimento a ser seguido e encaminhará o cliente para a rede credenciada, ou encaminhará o médico até o cliente. Tudo dependerá da sua localização e disponibilidade.
                                        </p>
                                </span>
                            </div>
                            <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="description">
                                <span>
                                    <h3 id="31" itemprop="name">
                                        Vou viajar para continentes diferentes. Como funciona o seguro neste caso?
                                    </h3>
                                    <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                                        <p itemprop="text">
                                            Quando o viajante for viajar para continentes diferentes, em um mesmo período de viagem, é necessário que o plano cubra as necessidades de ambos os continentes. No caso de viagens que incluem o continente Europeu, é imprescindível lembrar que o seguro viagem esteja dentro das exigências do Tratado de Schengem, que exige que o viajante tenha um <b>Seguro/Assistência Viagem</b> com cobertura para assistência médica de no mínimo 30 mil euros.
                                        </p>
                                    </div>
                                        <p>
                                            A sugestão de nossos consultores é que o cliente contrate um <b>seguro viagem com cobertura mínima de 50 mil dólares de assistência médica</b>, pois os planos em dólares são válidos mundialmente. Assim, quando o viajante passar pelo território Europeu, a cobertura médica de seu seguro será convertido na moeda local, totalizando aproximadamente 40 mil euros de <b>assistência médica internacional</b>.
                                        </p>
                                </span>
                            </div>
                            <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="description">
                                <span>
                                    <h3 id="32" itemprop="name">
                                        Qual a diferença entre Seguro Viagem e Assistência Viagem?
                                    </h3>
                                    <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                                        <p itemprop="text">
                                            Havia no mercado dois tipos de planos comercializados separadamente por Seguradoras, e também por operadoras de <b>Assistência Viagem</b>: o <b>Seguro Viagem</b> e a <b>Assistência Viagem</b>. Os planos de <b>Seguro Viagem</b> têm, por sua natureza, características indenizatórias e possui, como coberturas principais, a morte e invalidez permanente, ocorridos durante a vigência da apólice. Já a <b>Assistência Viagem</b> é um serviço que tem o compromisso de assistir o viajante durante sua permanência em viagem, com a prestação da assistência médica e hospitalar, através de prestadores de serviços credenciados.
                                        </p>
                                    </div>
                                        <p>
                                            O produto <b>Seguro Viagem</b> padrão oferecido por Seguradoras e operadoras de Cartão de Crédito não possuíam um plano de assistência agregado. Em casos de imprevistos, o viajante deveria arcar com todas as despesas no momento do ocorrido e, posteriormente, realizar o pedido de reembolso. Já o serviço de <b>Assistência Viagem</b>, oferecido pelas Operadoras de Mercado, proporcionam atendimento aos viajantes em sua rede credenciada. Em caso de imprevistos, o viajante deve acionar a central de atendimento e não precisa utilizar recursos próprios para ser atendido. Mesmo não havendo rede credenciada, o viajante pode, com a autorização da rede de Assistência, pagar o atendimento e solicitar o reembolso posteriormente no retorno ao Brasil.
                                        </p>
                                        <p>
                                            Porém, com base nas regras da Resolução 315 da SUSEP, os <b>planos de Seguro Viagem</b> agora devem conter as principais coberturas, como as Despesas Médicas e Hospitalares em viagem, Doenças Preexistentes, entre outras. Hoje, os <b>Planos de Seguro Viagem</b> possuem coberturas com caráter indenizatório, e também prestam serviço de <b>Assistência Viagem</b>. Por isso, antes de contratar um <b>Plano de Seguro Viagem</b>, verifique qual é a Seguradora que garantirá as coberturas indenizatórias,  e também qual é a Operadora de <b>Assistência Viagem</b> que prestará o serviço nas coberturas de Assistência. Não se esqueça de sempre contratar seu seguro com um corretor autorizado no mercado, como é a plataforma <b>Multi Seguro Viagem</b> da EKTO MULTI SEGURO VIAGEM LTDA.
                                        </p>
                                </span>
                            </div>
                            <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="description">
                                <span>
                                    <h3 id="33" itemprop="name">
                                        Qual a diferença entre o Plano de Seguro Viagem e Seguro Saúde?
                                    </h3>
                                    <h4>
                                        Plano de Seguro Viagem
                                    </h4>
                                    <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                                        <p itemprop="text">
                                            Tem por objetivo garantir que qualquer emergência ocorrida durante a vigência do seguro (período de viagem), seja indenizada ou coberta através da prestação do serviço de <b>assistência em viagem</b>. Você pode utilizar toda a rede credenciada ou ainda obter reembolso, quando necessário. O objetivo se resume a tratar eventuais emergências, acidentes e imprevistos que venham a ocorrer exclusivamente no período da viagem.
                                        </p>
                                    </div>
                                        <h4>
                                            Seguro Saúde
                                        </h4>
                                        <p>
                                            O <b>seguro saúde</b> assemelha-se a Assistência Médica, no caráter completo, incluindo a prevenção e tratamento de doenças, além de consultas e exames de rotina, que não fazem parte do rol de atendimento do <b>Seguro Viagem</b>. Porém, trata-se de um produto que não tem foco em viagens, mas sim na saúde do segurado, independente do mesmo estar viajando. Por isso, suas coberturas são exclusivamente relacionadas à saúde, excluindo-se coberturas de outros tipos, como perda de bagagem, por exemplo.
                                        </p>
                                        <p>
                                            Uma das grandes diferenças entre o <b>Seguro Saúde</b> e o <b>Seguro Viagem</b> é que, normalmente, os planos de <b>Seguro Saúde</b> não são contratados por curtos períodos. Já o <b>Seguro Viagem</b>, se limita ao período de viagem. Além disso, o custo do Seguro Saúde é elevadíssimo, chegando a quase 10 vezes o valor de um <b>Seguro Viagem</b> para o mesmo período.
                                        </p>
                                </span>
                            </div>
                            <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="description">
                                <span>
                                    <h3 itemprop="name">
                                        Quais os cuidados ao contratar um Seguro Viagem?
                                    </h3>
                                    <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                                        <p itemprop="text">
                                            Se você sofre de alguma doença crônica, o cuidado na contratação do seguro deverá ser redobrado! Verifique se o plano que deseja possui cobertura para doença preexistente. É melhor optar por planos com valores de coberturas maiores e mais completos, e adequar assim o investimento da contratação de acordo com sua necessidade.
                                        </p>
                                    </div>
                                        <p>
                                            Em países como os Estados Unidos, por exemplo, os tratamentos médicos podem sair muito caros.
                                        </p>
                                        <p>
                                            Se você for gestante ou pretende praticar alguma modalidade de esporte radical, por exemplo, também precisará de um seguro viagem com cobertura especial para o seu perfil de viajante.
                                        </p>
                                        <p>
                                            Na dúvida, é sempre bom pesquisar os custos de alguns procedimentos médicos, intervenção cirúrgica ou até mesmo o valor de uma diária em hotel, no país de destino.
                                        </p>
                                </span>
                            </div>
                            <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="description">
                                <span>
                                    <h3 id="34" itemprop="name">
                                        Qual a diferença entre o Seguro Viagem emitido pelas Operadoras e os emitidos pelas empresas de Cartão de Credito?
                                    </h3>
                                    <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                                        <p itemprop="text">
                                            Alguns clientes obtém o seguro viagem gratuitamente pelo cartão credito, quando compram passagens aéreas. No entanto, a utilização do seguro viagem via cartão de crédito é um pouco distinta do padrão de seguro oferecido pelas operadoras. Confira algumas diferenças:
                                        </p>
                                    </div>
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>Seguro Viagem emitido pelas Operadoras</th>
                                                    <th>Seguro Viagem emitido pelo Cartão de Crédito</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Os viajantes são livres para escolher a cobertura que melhor se adéqua ao seu perfil, e ao perfil de sua viagem.</td>
                                                    <td>Geralmente o cliente só terá o seguro liberado se comprar as passagens aéreas pelo cartão, e o valor de cobertura será limitado, sem a opção de escolha.</td>
                                                </tr>
                                                <tr>
                                                    <td>Empresa especialista em assistência de viagem.</td>
                                                    <td>Diversas linhas de serviços.</td>
                                                </tr>
                                                <tr>
                                                    <td>Central de atendimento 24h dedicada a atender passageiros durante o período da viagem.</td>
                                                    <td>Central de atendimento comum para informações sobre o seguro e demais serviços monetários.</td>
                                                </tr>
                                                <tr>
                                                    <td>Possibilidade de contratação para acompanhantes, incluindo planos especiais em diversos produtos.</td>
                                                    <td>Comtempla apenas do titular, conforme perfil do cartão.</td>
                                                </tr>
                                                <tr>
                                                    <td>Amplas coberturas e serviços para o viajante.</td>
                                                    <td>Coberturas e serviços limitados de acordo com o perfil do cartão.</td>
                                                </tr>
                                                <tr>
                                                    <td>Opções de assistência integral, sem custo por meio de rede credenciada ou mediante reembolso.</td>
                                                    <td>A maioria dos cartões funciona apenas por meio de reembolso.</td>
                                                </tr>
                                                <tr>
                                                    <td>Período de contratação de até um ano consecutivo em viagem.</td>
                                                    <td>Período de contratação limitado de acordo com o perfil do cartão.</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                </span>
                            </div>
                        </div>
                </div>


            </div>
            <div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <div class="text-center final">
                                <h3 class="h2 title">Não encontrou o que procurava?</h3>
                                <p class="description">
                                    Fale com nossa equipe e solucione sua dúvida!
                                </p>
                                <a href="@Url.Action("Contato", "Sobre")" class="btn btn-primary depo">
                                    Entrar em contato
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
    @section Scripts
{
        <script src="/www/js/vendor/moment-with-locales.min.js"></script>
        <script src="/www/js/vendor/scrollreveal.min.js"></script>
        <script>
        // Scroll Reveal
        window.sr = ScrollReveal({ mobile: false });

        sr.reveal('.title', 200);

        $('a[href*="#"]').on('click', function (e) {
	e.preventDefault();

	$('html, body').animate({
		scrollTop: $($(this).attr('href')).offset().top - 100
	}, 700);
});

        $(document).ready(function(){
    $("#filter").keyup(function(){

        // Retrieve the input field text and reset the count to zero
        var filter = $(this).val(), count = 0;

        // Loop through the comment list
        $(".main span").each(function(){

            // If the list item does not contain the text phrase fade it out
            if ($(this).text().search(new RegExp(filter, "i")) < 0) {
                $(this).fadeOut();
                $(".indice").fadeOut();

            // Show the list item if the phrase matches and increase the count by 1
            } else {
                $(this).show();
            }
        });


    });
});
        </script>
    }
