﻿<div class="sobrenos voucher">
    <div class="header-2">
        <div class="page-header gradiente" data-parallax="true" id="image">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center">
                        <div class="row"><h2 class="title cor-titulo-obrigado">Obrigado, <span >O número do seu pedido é: <span id="pedidoObrigado"></span></span></h2></div>
                        <div class="row">
                            <h4 class="cor-subtitulo-obrigado margin-0-check cartao hidden">Após a confirmação de seu pagamento pela operadora do cartão, você poderá acompanhar
                                seu pedido e acessar o seu voucher, através do link <a target="_blank" href="https://www.multiseguroviagem.com.br/voucher-online">https://www.multiseguroviagem.com.br/voucher-online.</a>
                                Para consultar será necessário utilizar o seu número de Pedido.
                            </h4>
                            <h4 class="cor-subtitulo-obrigado margin-0-check boleto hidden">Após a confirmação do pagamento do seu boleto, você poderá acompanhar
                                seu pedido e acessar o seu voucher, através do link <a target="_blank" href="https://www.multiseguroviagem.com.br/voucher-online">https://www.multiseguroviagem.com.br/voucher-online.</a>
                                Para consultar será necessário utilizar o seu número de Pedido.</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main main-raised ajuste-posicionamento-boleto" id="produtos">
        <div class="text-center m-60">
            <a class="btn btn-success btn-boleto botaogerarvoucher hidden">
                <i class="fa fa-barcode" aria-hidden="true"></i>
                Gerar boleto
            </a>
        </div>
        <div class="container">
            <div class="about-description text-center">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h5 class="h5-green boleto hidden">O boleto será gerado no ambiente do Itaú, mas você pode pagá-lo em qualquer banco.</h5>
                        <h5 class="descricao-sobrenos">O voucher é a confirmação e a garantia de sua apólice de seguro. Ao viajar, tenha ele em mãos desde o momento de sua chegada ao destino. Ele pode ser requisitado no aeroporto e será, também, utilizado caso o seguro seja acionado.</h5>
                        <h5 class="h5-blue cartao hidden">Você o receberá em até um dia útil. Boa viagem!</h5>
                        <h5 class="h5-blue boleto hidden">O boleto pode demorar até dois dias úteis para ser debitado após o pagamento. Boa viagem!</h5>
                        <p>
                            <span id="spMsgUsuarioSemCadastro" class="hidden"> Vimos que você é novo por aqui, enviamos o login e senha em seu e-mail.</span>
                            @*<span id="spMsgUsuarioComCadastro" class="hidden"> Entre em sua conta <a href="@Url.Action("Conta", "Login")">clicando aqui</a>. Se esqueceu sua senha, recupere-a <a id="esqueciSenha" href="#">clicando aqui</a></span>*@
                            <a href="@Url.Action("VoucherOnline", "Login")" class="btn btn-white-space btn-info btn-round">
                                Acompanhe em sua conta o status do pagamento <b>clicando aqui!</b>
                            </a>
                    </div>
                </div>
            </div>
            <div class="col-md-12 recomendacoes-voucher">
                <h3 class="title">Recomendações</h3>
                <p class="title">Leia atentamente as recomendações abaixo para garantir as suas coberturas.</p>
                <h4 class="title">Sobre o Pagamento</h4>

                <p>
                    A emissão do voucher é condicionada a confirmação de pagamento, portanto o sistema possui até 4 horas úteis para liberação do voucher. Caso você esteja comprando em uma sexta-feira após as 18h ou em um sábado ou domingo, seu voucher será emitido na segunda-feira.
                    Os orçamentos variam conforme a cotação cambial do dia, por esse motivo o vencimento do boleto é sempre para o mesmo dia útil, caso não consiga completar o pagamento basta realizar uma nova cotação para que o valor seja atualizado conforme cotação cambial.
                </p>
                <h4 class="title">Sobre o Voucher</h4>
                <p>Voucher estará disponível (conforme regras acima) em seu ambiente de usuário, acessível através do seu login e senha previamente cadastrados.</p>
                <p>Também será enviado em seu e-mail uma cópia do voucher com todas as recomendações de utilização das operadoras.</p>
                <p> Qualquer dúvida entre em contato com nossa equipe!</p>
                <h4 class="title">Recomendações Essenciais</h4>
                <ul>
                    <li>Confirme o recebimento de seu voucher, lembre-se de imprimir e leva-lo junto com seus documentos para viagem.</li>
                    <li>Verifique todas as condições descritas no Voucher, inclusive as condições gerais dos planos.</li>
                    <li>É obrigatório entrar em contato com as operadoras antes de realizar qualquer atendimento ou utilizar qualquer cobertura, portanto verifique os telefones, e-mail’s e formas de atendimento da operadora no voucher e garanta que eles estarão acessíveis caso ocorra alguma emergência</li>
                    <li>Não hesite em contatar nossa equipe caso tenha qualquer dúvida sobre o plano contratado.</li>
                    <li>Lembrando que a Multi Seguro Viagem comercializa os planos, sendo intermediaria no processo, onde a responsabilidade total sobre as coberturas e o atendimento do viajante é da operadora contratada, portanto siga todas as regras descritas nas condições gerais para que não haja nenhuma dúvida a respeito do plano contratado e nenhuma inconveniência futura.</li>
                </ul>
                <h4 class="title"> Política de Cancelamento</h4>
                <p>Caso desista da compra, a solicitação de cancelamento poderá ser realizada através do ambiente do usuário, desde que seja realizada 72 horas úteis antes do início da vigência da apólice, conforme regra das seguradoras. Consulte nossa equipe de suporte caso tenha qualquer dúvida.</p>
                <p class="title h5-blue">Desejamos uma excelente viagem!</p><br />

            </div>
            <div class="col-md-12 padding-blog-titulo">
                <div class="col-md-10">
                    <h3 class="title">O nosso blog está cheio de coisas legais, dá uma olhada.</h3>
                </div>
                <div class="col-md-2">
                    <button class="btn btn-primary btn-sm btn-round btn-blog">Visitar blog</button>
                </div>
            </div>
            <div class="row margin-blog">
                <div class="col-md-4">
                    <div class="card card-blog">
                        <div class="card-image">
                            <a href="http://blog.multiseguroviagem.com.br/seguro-saude-viagem/7-dicas-para-seu-proximo-destino/">
                                <img class="img" src="/www/img/dg6.jpg" />
                            </a>
                        </div>
                        <div class="card-content">
                            <h6 class="category text-success">
                                <i class="material-icons">favorite_border</i> Dicas
                            </h6>

                            <h4 class="card-title">
                                <a href="http://blog.multiseguroviagem.com.br/seguro-saude-viagem/7-dicas-para-seu-proximo-destino/">7 Dicas Imbatíveis para você planejar seu Próximo Destino!</a>
                            </h4>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card card-blog">
                        <div class="card-image">
                            <a href="http://blog.multiseguroviagem.com.br/tipos-de-seguro/seguro-viagem-para-pratica-de-esportes/">
                                <img class="img" src="/www/img/dg9.jpg" />
                            </a>
                        </div>
                        <div class="card-content">
                            <h6 class="category text-danger">
                                <i class="material-icons">trending_up</i> Em destaque
                            </h6>
                            <h4 class="card-title">
                                <a href="http://blog.multiseguroviagem.com.br/tipos-de-seguro/seguro-viagem-para-pratica-de-esportes/">Seguro Viagem para Prática de Esportes</a>
                            </h4>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card card-blog">
                        <div class="card-image">
                            <a href="http://blog.multiseguroviagem.com.br/seguro-saude-internacional/tratado-de-schengen-europa/">
                                <img class="img" src="/www/img/dg10.jpg" />
                            </a>
                        </div>
                        <div class="card-content">
                            <h6 class="category text-info">
                                <i class="material-icons">question_answer</i> Dúvidas dos leitores
                            </h6>
                            <h4 class="card-title">
                                <a href="http://blog.multiseguroviagem.com.br/seguro-saude-internacional/tratado-de-schengen-europa/">Tratado de Schengen: saiba como evitar ser barrado na Europa</a>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">

                    <a href="https://www.facebook.com/multiseguroviagem/" class="btn btn-social btn-block btn-facebook">
                        <i class="fa fa-facebook-square"></i> Curta-nos no Facebook
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="https://www.youtube.com/user/MultiSeguroViagem" class="btn btn-social btn-block btn-youtube">
                        <i class="fa fa-youtube-play"></i> Siga-nos no Youtube
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="https://www.instagram.com/multiseguroviagem/" class="btn btn-social btn-block btn-instagram">
                        <i class="fa fa-instagram"></i> Siga-nos Instagram
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<form action="https://shopline.itau.com.br/shopline/shopline.aspx" method="post" id="frmItau">
    <input id="itauCripto" type="hidden" name="DC" value="">
</form>

<!-- Pixel Afiliace -->
<iframe id="pixelAfiliace" scrolling="no" frameborder="0" width="1" height="1"></iframe>
<img id="pixelAfiliaceQuinstreet" width="1" height="1" />
<!-- Fim Pixel Afiliace -->

<noscript>
    <div style="display:inline;">
        <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/856332561/?label=HaByCL_tlHAQkbKqmAM&amp;guid=ON&amp;script=0" />
        <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/815983568/?label=EiVLCOT5130Q0NeLhQM&amp;guid=ON&amp;script=0" />
    </div>
</noscript>
<!-- Fim Pixel Conversão -->

@section Scripts
{
    <script>
        /* <![CDATA[ */
        var google_conversion_id = 856332561;
        var google_conversion_language = "en";
        var google_conversion_format = "3";
        var google_conversion_color = "ffffff";
        var google_conversion_label = "HaByCL_tlHAQkbKqmAM";
        var google_remarketing_only = false;
        /* ]]> */

        var affiliate = (getLocalStorage("utmSource")) ? getLocalStorage("utmSource") : "direct";
        var id = obtemParametroUri("P");
        var rev = getSession("totalConversaoGoogle");

        window.addEventListener("load", function () {


            ga("require", "ecommerce");

            ga("ecommerce:addTransaction", {
                'id': id,
                'affiliation': affiliate,
                'revenue': rev,
                'currency': "BRL"
            });

            ga("ecommerce:addItem", {
                'id': id,
                'name': "Seguro Viagem",
                'category': "Seguros",
                'price': rev,
                'quantity': "1",
                'currency': "BRL"
            });

            ga("ecommerce:send");

            ga("ecommerce:clear");

        });
    </script>

    <script>
        /* <![CDATA[ */
        var google_conversion_id = 815983568;
        var google_conversion_language = "en";
        var google_conversion_format = "3";
        var google_conversion_color = "ffffff";
        var google_conversion_label = "EiVLCOT5130Q0NeLhQM";
        var google_remarketing_only = false;
        /* ]]> */

        var affiliate = (getLocalStorage("utmSource")) ? getLocalStorage("utmSource") : "direct";
        var id = obtemParametroUri("P");
        var rev = getSession("totalConversaoGoogle");

        window.addEventListener("load", function () {
  

            ga("require", "ecommerce");

            ga("ecommerce:addTransaction", {
                'id': id,
                'affiliation': affiliate,
                'revenue': rev,
                'currency': "BRL"
            });

            ga("ecommerce:addItem", {
                'id': id,
                'name': "Seguro Viagem",
                'category': "Seguros",
                'price': rev,
                'quantity': "1",
                'currency': "BRL"
            });

            ga("ecommerce:send");

            ga("ecommerce:clear");

        });
</script>

    <script async type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js"></script>

    <script src="https://apis.google.com/js/platform.js?onload=renderOptIn" async defer></script>

    <script src="/www/js/vendor/moment-with-locales.min.js"></script>
    <script src="/www/js/vendor/scrollreveal.min.js"></script>
    
    <script>
        var numeroPedido = obtemParametroUri('P');
        var tipoPagamento = obtemParametroUri('T') ? obtemParametroUri('T') : 'C';
        var pagamentoConcluido = obtemParametroUri('C') ? true : false;

        if (tipoPagamento == 'C') {
            $('.cartao').removeClass('hidden');
        }
        else {
            $('.boleto').removeClass('hidden');
            $('.btn-boleto').removeClass('hidden');
        }

        if (isMobile(navigator.userAgent)) {
            $('#produtos').removeClass('ajuste-posicionamento-boleto');
            $('#produtos').addClass('ajuste-posicionamento-boleto-mobile');
        }


        $('#pedidoObrigado').text(numeroPedido);

        if (getSession('totalPedido')) {
            $('#pixelAfiliace').attr('src', 'https://afiliace.go2cloud.org/aff_l?offer_id=2&adv_sub=MULTI-' + numeroPedido + '&amount=' + getSession('totalPedido'));

            $('#pixelAfiliaceQuinstreet').attr('src', 'https://afiliace.go2cloud.org/aff_goal?a=l&goal_id=25&amount=' + getSession('totalPedido'));
        }

        if ('@(TempData["CriptoItau"])') {
            window.sessionStorage.setItem("cripto", '@(TempData["CriptoItau"])');
        }

        $('#itauCripto').val(window.sessionStorage.cripto);

        if ('@(TempData["NovoUsuario"])') {
            window.sessionStorage.setItem("novoUsuario", '@(TempData["NovoUsuario"])');
        }

        if (window.sessionStorage.novoUsuario === "True") {
            $('#spMsgUsuarioSemCadastro').removeClass('hidden');
        }

        $('.btn-boleto').on("click", function() { $('#frmItau').submit(); });

        var d = new Date();
        var strDate =d.getFullYear() + "-" + (("0" + (d.getMonth() + 1)).slice(-2)) + "-" + d.getDate();
console.log(strDate);
    /*
        window.renderOptIn = function() {
            window.gapi.load('surveyoptin', function() {
              window.gapi.surveyoptin.render(
                {
                  // REQUIRED FIELDS
                  "merchant_id": 120388962,
                  "order_id": numeroPedido,
                  "email": getSession('email'),
                  "delivery_country": "BR",
                  "estimated_delivery_date": strDate
                });
            });
        };
        */

        window.___gcfg = {
            lang: 'pt_BR'
        };

        setTimeout(function() {
             //Facebook Conversion
             fbq('track', 'Purchase');

            //ClickGUARD Conversion
            (function(){ cg_convert(); })();

             setSession('carrinho', '[]');
             removeSession('cotacao');
             removeSession('totalPedido');
             removeSession('totalConversaoGoogle');
             removeSession('email');
             removeSession('emailPagamento');
             removeLocalStorage('utmSource');
        }, 5000);
    </script>
    
    <script async>
            window.sr = ScrollReveal({ mobile: false });
            sr.reveal('.card', 50);
            sr.reveal('.recomendacoes-voucher .title');
            sr.reveal('.recomendacoes-voucher p');
            sr.reveal('.recomendacoes-voucher li');


            /*--- ShopBack Conversão 16-01-18 ---*/
            var _st_account = 2254;
            var _cv_data = {
                'order_id': numeroPedido,          // Número do pedido
                'valor': getSession('totalPedido') // Valor do pedido
            };
            (function () {
                var ss = document.createElement('script');
                ss.type = 'text/javascript';
                ss.async = true;
                ss.src = '//app.shoptarget.com.br/js/tracking.js';
                var sc = document.getElementsByTagName('script')[0];
                sc.parentNode.insertBefore(ss, sc);
            })();

            conversaoRDStation("Voucher");

            $(function() {
                enviaTagOneSignal(window.OneSignal, { "pgVoucher": "true", "compra": "1" } );
                deletaTagsOneSignal(window.OneSignal, ["pgIndex", "pgCotador", "pgViajantes", "pgPagamento"]);
            });
    </script>    
}

